<div class="container" style="margin:50px auto ">
    <div class="row">
        <div class="col">
             <p>Hola {{usuario}}!!</p>
             <a href="/admin/login/logout" type="button" class="btn btn-danger" style="margin-left: 500px;">Cerrar sesión</a>
        </div>
    </div> 
</div>