<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cerveceria Malas Pulgas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" data-scroll href="/">Home</a>   
    </div>
  </div>
</nav>

 <h1>GALERIA DE FOTOS</h1>

    <section class="galeria">
      <div class="container-md">
        <div class="row">
      <div class="col-4">
      <a href="images/galeria1.jpg" data-lightbox="galeria">
        <img src="images/galeria1.jpg" alt="" />
      </a>
      </div>
       <div class="col-4">
      <a href="images/galeria2.jpg" data-lightbox="galeria">
        <img src="images/galeria2.jpg" alt="" />
      </a>
      </div>
       <div class="col-4">
      <a href="images/galeria3.jpg" data-lightbox="galeria">
        <img src="images/galeria3.jpg" alt="" />
      </a>
      </div>
      </div>
      <div class="row mt-3">
      <div class="col-4">
      <a href="images/galeria4.jpg" data-lightbox="galeria">
        <img src="images/galeria4.jpg" alt="" />
      </a>
      </div>
      <div class="col-4">
      <a href="images/galeria5.jpg" data-lightbox="galeria">
        <img src="images/galeria5.jpg" alt="" />
      </a>
      </div>
      <div class="col-4">
      <a href="images/galeria6.jpg" data-lightbox="galeria">
        <img src="images/galeria6.jpg" alt="" />
      </a>
      </div>
      </div>
      </div>
    </section>

<footer>
  <p class="text-center">Diseñado por Federico Seitz</p>
</footer>